p {
  font-family: Arial, "Helvetica", sans-serif;
}
h3 {
  font-family: Arial, "Helvetica", sans-serif;
}
h5 {
  font-family: Arial, "Helvetica", sans-serif;
  color: rgb(119, 131, 143);
  padding-top: 5.2px;
  margin-left: 5px;
}

.hmm {
  color: rgb(119, 131, 143);
  padding-top: 5.2px;
  margin-left: 5px;
}

.App {
  text-align: center;
}

.btn {
  background-color: rgb(52, 152, 219);
  border: none;
  color: white;
  padding: 12px 16px;
  cursor: pointer;
}

.flex-column {
  -ms-flex-direction: column;
  flex-direction: column;
}

#bscscan_logo {
  margin-left: -20px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.secondary_text {
  font-family: Arial, "Helvetica", sans-serif;
  font-size: 0.9em;
  margin-left: 10px;
}

#dropdown_navbar {
  font-family: Arial, "Helvetica", sans-serif;
  color: rgb(113, 130, 138);
  font-size: 1.1em;
}

#dropdown_navbar:hover .blockchain {
  display: block;
}

.container1 {
  background-color: rgb(234, 244, 251);
  padding: 3px;
  margin-top: -4px;
  border-radius: 4px;
}

#navbox {
  display: inline-block;
  padding-right: 70px;
  padding-top: 5px;
}

.container2 {
  padding-left: 10px;
  padding-top: 10px;
}

#bodybsc {
  background-color: rgb(248, 249, 250);
}

.token {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.token_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 15px;
}

.token_button {
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px;
}

.main_container {
  background-color: #fff;
  border-radius: 7px;
  padding-left: 20px;
  box-shadow: 2px 2px 2px rgb(240, 240, 240);
  border-width: 2px;
  border-color: rgb(230, 230, 230);
}

.main_parent_container {
  padding: 0 1.5% 0 1.5%;
}

.main_heading_text {
  color: rgb(119, 131, 143);
  font-size: 1.1em;
  padding-left: 20px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heading_text_link {
  margin-bottom: 20px;
  margin-left: 3px;
}

.heading_text2 {
  color: rgb(52, 152, 221);
  text-decoration: none;
  padding: 0 3px 0 3px;
}

.main_container_hover_text {
  color: rgb(119, 131, 143);
  font-size: 0.8em;
  padding: 5px 5px 0 5px;
}

.seperator {
  height: 1px;
  background-color: rgb(230, 230, 230);
  width: 96%;
  align-self: center;
}

.seperator-big {
  margin: 30px 0 10px 30px;
}

.main_container_text_heading {
  font-size: 1.1em;
  color: rgb(74, 79, 85);
  margin-right: 10px;
}

.main_container_text {
  padding: 10px 0 5px 5px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

.main_container_row1 {
  padding-top: 10px;
  margin-bottom: -15px;
  color: rgb(119, 131, 143);
  font-size: 0.9em;
}

.main_container_text {
  font-size: 1.1em;
  padding-top: 11.7px;
  text-decoration: none;
}

.main_container_text3 {
  font-size: 1.1em;
  padding-top: 19.5px;
  text-decoration: none;
}

.main_container_text2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon_color {
  color: rgb(119, 131, 143);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 10px 0 10px;
  text-decoration: none;
}

#navbar_second {
  margin: 30px 10px 20px 10px;
  background-color: #fff;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 2px 2px 2px rgb(240, 240, 240);
  border-width: 2px;
  border-color: rgb(230, 230, 230);
  color: rgb(110, 115, 120);
}
.modifiednavlink {
  color: rgb(110, 115, 120);
  z-index: 1000;
  text-decoration: none;
}

.footer_container {
  background-color: rgb(18, 22, 28);
  padding: 0px 0 40px 40px;
}

.footer_col {
  padding: 30px 20px 10px 20px;
}

.footer_col2 {
  display: flex;

  flex-direction: column;
}

.footer_header {
  color: #fff;
  padding-left: 5px;
  font-family: Arial, "Helvetica", sans-serif;
  font-size: 1.1em;
  padding-top: 5px;
}

.footer_text {
  color: #fff;
  font-size: 0.8em;
  padding-left: 20px;
  margin: 5px 0 5px 0;
  line-height: 22px;
}

.footer_header2 {
  color: #fff;
  font-size: 0.9em;
}

.footer_body {
  text-decoration: none;
  color: rgb(184, 186, 178);
  font-size: 0.8em;
  margin: 5px 0 5px 0;
}

.circulatingCapButton {
  border-radius: 10px;
  border-color: transparent;
  box-shadow: transparent;
  height: 27px;
  background-color: rgb(241, 242, 244);
  color: #333;
  font-size: 0.9em;
}

.dataListHeading {
  background-color: "#fff";
  color: rgb(108, 117, 126);
  font-size: 1.1em;
  font-family: Arial, "Helvetica", sans-serif;
  font-weight: 600;
  margin: 10px 0 10px 20px;
}

.pages {
  margin: 10px 0 15px 1%;
  color: rgb(108, 117, 126);
  font-size: 1.1em;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pageNavigationButton {
  color: rgb(140, 152, 164);
  font-family: Arial, "Helvetica", sans-serif;
  font-size: 0.85em;
  border-radius: 7px;
  background-color: rgb(234, 244, 251);
  margin: 0 2.5px 0 2.5px;
  padding: 8px 12px 8px 12px;
  border-width: 0;
}

.pagesNavigation2 {
  margin: 40px 0 80px 80%;
  background-color: #fff;
}

.infoBody {
  color: black;
  font-size: 1.1em;
  margin: 20px 20px 40px 20px;
}

.infoBody2 {
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 10px 0 60px 20px;
  text-decoration: none;
}

.readContract {
  margin: 20px 10px 20px 10px;
  font-family: Arial, "Helvetica", sans-serif;
  padding: 0 0 10px 0;
}

.readCardHead {
  text-decoration: none;
  color: black;
  font-family: Arial, "Helvetica", sans-serif;
}

.readCardLink {
  text-decoration: none;
  color: rgb(52, 152, 221);
  font-family: Arial, "Helvetica", sans-serif;
  margin-left: 5px;
}

.readButton {
  border-radius: 5px;
  background-color: white;
  border-width: 1px;
  padding: 5px 10px 5px 10px;
  border-color: rgb(140, 152, 164);
}

.readButton2 {
  border-radius: 5px;
  background-color: rgb(90, 170, 255);
  border-width: 0;
  color: white;
  padding: 5px 10px 5px 10px;
  border-color: rgb(140, 152, 164);
}

.blah {
  margin: 20px 0 5px 0;
  font-family: Arial, "Helvetica", sans-serif;
  color: rgb(140, 152, 164);
}

.blah2 {
  margin: 30px 20px 40px 0;
  font-family: Arial, "Helvetica", sans-serif;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.blah3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
